#cont{
position:relative;
width: 780px;
height: 369px;
test-align: justify;
}

.menu-details{
width: 780px;
height: 369px;
position: absolute;
border: 1px solid #000;
}

li {
float: left;
list-style:none;
width: 80px;
margin-left: 15px;
}